body {
    text-align: center;
}

button {
    width: 60px;
    height: 30px;
    background: black;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}